.svg-button {
  border: unset;
  background-color: unset;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:focus-visible {
    border-radius: 3px;
    outline: 2px solid var(--blue);
    outline-width: thin;
  }

  &:hover {
    filter: brightness(90%);
  }

  &__title {
    padding-left: 6px;
  }
}

.rotate-svg {
  transform: rotate(180deg);
}
