.svg-button {
  border: unset;
  background-color: unset;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.svg-button:focus-visible {
  border-radius: 3px;
  outline: 2px solid var(--blue);
  outline-width: thin;
}

.svg-button:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}
