.chat-field {
  display: flex;
  width: calc(100% - 370px);
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
  height: 100vh;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    border-bottom: 1px solid var(--grey);

    &__user {
      display: flex;
      align-items: center;

      &-image {
        display: flex;
        width: 34px;
        height: 34px;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin-right: 10px;
        background-color: var(--dark-grey);

        & img {
          border-radius: 30px;
        }
      }

      &-name {
        color: var(--black);
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
      }
    }

    &__users {
      padding-top: 10px;
      color: var(--blue);
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
    }

  }

  &__menu {
    position: relative;;
    &__buttons {
      position: absolute;
      z-index: 100;
      display: none;
      background-color: var(--grey);
      padding: 10px;
      min-width: 212px;
      right: -16px;
      top: calc(100% + 8px);
      border-radius: 6px;

      &::before {
        position: absolute;
        top: -7px;
        right: 10px;
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--grey);
        border-left: 8px solid transparent;
        content: '';
      }
    }

    & ul {
      list-style: none;
      & li {
        padding-bottom: 10px;
        &:last-of-type {
          padding-bottom: unset;
        }
      }
    }
  }

  &__field {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;

    &__date {
      align-self: center;
      margin: 30px 0;
      color: var(--dark-grey);
      font-size: 12px;
      line-height: 12px;
    }
  }
}
