.message {
  max-width: 402px;
  border: 1px solid var(--grey);
  border-radius: 12px;
  margin: 10px 20px;
}

.message img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.message p {
  color: var(--black);
  font-size: 15px;
  line-height: 15px;
}

.message_user {
      align-self: flex-end;
  margin-right: 160px;
  -ms-flex-item-align: end;
}

.message_notme {
      align-self: flex-start;
  margin-left: 160px;
  -ms-flex-item-align: start;
}

.message-text {
  padding: 10px;
}

.message-text_user {
  background: var(--author-message);
  border-bottom-right-radius: unset;
}

.message-text_notme {
  background: var(--not-author-message);
  border-bottom-left-radius: unset;
}

@media (max-width: 1440px) {
  .message_user {
    margin-right: 60px;
  }
  .message_notme {
    margin-left: 60px;
  }
}

@media (max-width: 1024px) {
  .message_user {
    margin-right: unset;
  }
  .message_notme {
    margin-left: unset;
  }
}