.avatar-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;

  &__size {
    font-size: 14px;
    line-height: 14px;
    color: var(--dark-grey);
    margin-bottom: 10px;
  }

  &__input {
    max-width: 300px;
    padding: 20px 20px 0;

    &:focus-visible {
      border-radius: 3px;
      outline: 2px solid var(--blue);
      outline-width: thin;
    }
  }
}

@media (max-width: 425px) {
  .avatar-form {
    padding-bottom: 15px;
  
    &__size {
      font-size: 12px;
      margin-top: 4px;
    }
  
    &__input {
      max-width: 250px;
      padding: 15px 20px 0;
    }
  }
}
