<div class="chat">
    <div class="chat__image">
        <img src="https://dummyimage.com/47x47/999999" alt="user">
    </div>
    <div>
        <div class="chat_line">
            <p class="chat__user">Илья</p>
            <p class="chat__date">15:12</p>
        </div>
        <div class="chat_line">
            <p class="chat__message">Друзья, у меня для вас особенный выпуск новостей!Друзья, у меня для вас особенный выпуск новостей!Друзья, у меня для вас особенный выпуск новостей!</p>
            <div class="chat__indicator"><span>10</span></div>
        </div>
    </div>
</div>