@import url(../components/button/button.scss);
@import url(../components/input/Input.scss);
@import url(../components/buttonSvg/ButtonSvg.scss);
@import url(../components/chat/chat.scss);
@import url(../components/link/link.scss);
@import url(../components/message/Message.scss);

@font-face {
  font-family: 'InterBold';
  src: url("../assets/fonts/Inter-SemiBold.otf") format("opentype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'InterBold';
  font-weight: 500;
}

div,
input,
textarea,
button,
:focus,
:active {
  outline: none;
}

.container {
  width: 100%;
  min-width: var(--mobile-s-width);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.http-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.http-error__number {
  color: var(--black);
  font-size: 58px;
  line-height: 58px;
}

.http-error__description {
  padding: 20px 0 68px;
  color: var(--black);
  font-size: 22px;
  line-height: 22px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 64px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px;
}

.profile-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.profile-page__button-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--light);
  cursor: pointer;
  text-decoration: none;
}

.profile-page__button-back:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.profile-page__button-back:focus-visible {
  border-radius: 3px;
  outline: 2px solid var(--blue);
  outline-width: thin;
}

.profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 550px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}

.profile-form__photo {
  width: 160px;
  height: 160px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 80px;
  background: var(--light-grey);
  background-image: url("https://dummyimage.com/160x160/EFEFEF");
}

.profile-form__photo__input {
  max-width: 300px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 20px 20px 0;
}

.profile-form__photo__input:focus-visible {
  border-radius: 3px;
  outline: 2px solid var(--blue);
  outline-width: thin;
}

.profile-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--grey);
  color: var(--black);
  font-size: 18px;
  line-height: 18px;
}

.profile-form__label:first-of-type {
  padding: 40px 0 10px;
}

.profile-form__value {
  width: 70%;
  border: unset;
  background-color: transparent;
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 18px;
  text-align: end;
}

.profile-form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 40px;
}

.profile-form__button {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 10px 0;
}

.profile-form__button-submit {
  margin-top: 50px;
}

.profile-form__button-exit {
  color: var(--red);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 440px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 30px 30px;
  border-radius: 12px;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.login__title {
  margin-bottom: 40px;
  color: var(--black);
  font-size: 24px;
  line-height: 24px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 16px;
  border-bottom: 1px solid var(--blue);
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 14px;
}

.login-form__value {
  width: 100%;
  padding: 8px 0;
  border: unset;
  background-color: unset;
  font-size: 18px;
  line-height: 18px;
}

.login-form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.login-form__button-register {
  margin-top: 62px;
}

.login-form__button-login {
  margin-top: 160px;
}

.login-form__link {
  margin-top: 14px;
}

.chat-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 1px solid var(--grey);
  background: var(--light);
}

.chats__link {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 22px 10px 24px 0;
  color: var(--dark-grey);
}

.chats__link svg {
  margin-left: 8px;
}

.chats__search {
  padding: 10px;
  border: unset;
  border-radius: 5px;
  margin: 0 10px 14px;
  background: #efefef;
  color: var(--dark-grey);
}

.chats__search:focus-visible {
  border-radius: 3px;
  outline: 2px solid var(--blue);
  outline-width: thin;
}

.messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 310px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px;
}

.messages-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 20px;
  border-bottom: 1px solid var(--grey);
}

.messages-info__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.messages-info__user-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 34px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 20px;
  margin-right: 10px;
  background-color: var(--dark-grey);
}

.messages-info__user-image img {
  border-radius: 30px;
}

.messages-info__user-name {
  color: var(--black);
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

.messages-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.messages-field__date {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 30px 0;
  color: var(--dark-grey);
  font-size: 12px;
  line-height: 12px;
}

.messages-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 20px;
  border-top: 1px solid var(--grey);
}

.messages-send__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.messages-send__input {
  width: 100%;
  padding: 9px 30px;
  border: unset;
  border-radius: 30px;
  margin: 0 10px;
  background: #efefef;
  resize: none;
}

.messages-send__input::input-placeholder {
  line-height: 35px;
}

.messages-send__input:input-placeholder {
  line-height: 35px;
}

.messages-send__input::input-placeholder {
  line-height: 35px;
}

.messages-send__input::placeholder {
  line-height: 35px;
}

.messages-send__input:focus-visible {
  border-radius: 3px;
  outline: 2px solid var(--blue);
  outline-width: thin;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px;
  border-radius: 12px;
  background: var(--white);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.modal-wrapper {
  width: 100%;
  max-width: 340px;
  padding: 20px;
}

.modal__heading {
  padding-bottom: 40px;
  color: var(--black);
  font-size: 20px;
  line-height: 20px;
}

.modal__button {
  margin-top: 40px;
}

.form-list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__error {
  border-color: #d24a4a;
}

.error {
  position: absolute;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  display: none;
  max-width: 260px;
  padding: 6px 10px 7px;
  border-radius: 6px;
  background: var(--red);
  color: var(--white);
  font-size: 13px;
  line-height: 15px;
}

.error::before {
  position: absolute;
  top: -8px;
  left: 15px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--red);
  border-left: 8px solid transparent;
  content: '';
}

@media (max-width: 1024px) {
  .chats {
    width: 310px;
  }
}

@media (max-width: 768px) {
  .http-error__number {
    font-size: 48px;
    line-height: 48px;
  }

  .http-error__description {
    padding: 20px 0 38px;
    font-size: 18px;
    line-height: 18px;
  }

  .profile {
    width: 100%;
    margin-top: 10px;
  }

  .profile-page {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .profile-page__button-back {
    width: 100%;
    height: 64px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 20px;
  }

  .profile-form {
    max-width: 470px;
    padding-top: 78px;
  }

  .profile-form__label {
    font-size: 16px;
    line-height: 16px;
  }

  .profile-form__value {
    font-size: 16px;
    line-height: 16px;
  }

  .profile-form__buttons {
    margin-top: 30px;
  }

  .login {
    max-width: 370px;
    padding: 30px 25px 25px;
    margin: 20px;
  }

  .login__title {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 22px;
  }

  .login-form__label {
    font-size: 12px;
    line-height: 12px;
  }

  .login-form__value {
    padding: 6px 0;
    font-size: 16px;
    line-height: 16px;
  }

  .login-form__button-register {
    margin-top: 42px;
  }

  .login-form__button-login {
    margin-top: 120px;
  }

  .error {
    top: calc(100% + 8px);
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 425px) {
  .login {
    width: calc(100vw - 2 * 20px);
    max-width: unset;
  }

  .login__title {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 20px;
  }

  .login-form {
    height: 100%;
  }

  .login-form__label {
    padding-bottom: 6px;
    font-size: 11px;
    line-height: 11px;
  }

  .login-form__value {
    padding: 4px 0;
    font-size: 14px;
    line-height: 14px;
  }

  .login-form__buttons {
    height: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .login-form__buttons-register {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .login-form__buttons-login {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .login-form__button-register {
    margin-top: 20px;
  }

  .login-form__button-login {
    margin-top: 14px;
  }

  .profile {
    margin-top: unset;
  }

  .profile-page__button-back {
    height: 54px;
  }

  .profile-form {
    max-width: 470px;
    padding-top: 48px;
  }

  .profile-form__photo {
    width: 130px;
    height: 130px;
    background-image: url("https://dummyimage.com/130x130/EFEFEF");
  }

  .profile-form__photo__input {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .profile-form__label {
    font-size: 14px;
    line-height: 14px;
  }

  .profile-form__value {
    font-size: 14px;
    line-height: 14px;
  }

  .profile-form__buttons {
    margin-top: 20px;
  }

  .error {
    padding: 5px 8px;
    font-size: 10px;
    line-height: 12px;
  }
}

:root {
  --white: #fff;
  --black: #1e1e1e;
  --blue: #3369f3;
  --red: #d24a4a;
  --light: #fbfbfb;
  --light-grey: #efefef;
  --grey: #eaeaea;
  --dark-grey: #999;
  --author-message: #e4edfd;
  --not-author-message: #f8f8f8;
  --shadow: 0 0 6px rgb(0 0 0 / 14%);
  --mobile-s-width: 320px;
}
