.chat-field {
  display: flex;
  width: calc(100% - 370px);
  flex-direction: column;
  justify-content: space-between;
  padding: 0 40px;
  height: 100vh;

  &_empty {
    display: flex;
    align-items: center;
    width: calc(100% - 370px);
    justify-content: center;

    & p {
      color: var(--blue);
    }
  }
}

@media (max-width: 1024px) {
  .chat-field {
    width: calc(100% - 310px);
  }
}

@media (max-width: 768px) {
  .chat-field {
    width: 100%;
    padding: unset;
  }
}
