---
{
    data: [
        {
            name: 'Илья',
            date: '15:12',
            message: 'Друзья, у меня для вас особенный выпуск новостей!Друзья, у меня для вас особенный выпуск новостей!Друзья, у меня для вас особенный выпуск новостей!',
            messages: '10'
        },
        {
            name: 'Илья',
            date: '15:12',
            message: 'Друзья, у меня для вас особенный выпуск новостей!Друзья, у меня для вас особенный выпуск новостей!Друзья, у меня для вас особенный выпуск новостей!',
            messages: '10'
        },
        {
            name: 'Илья',
            date: '15:12',
            message: 'Друзья, у меня для вас особенный выпуск новостей!Друзья, у меня для вас особенный выпуск новостей!Друзья, у меня для вас особенный выпуск новостей!',
            messages: '10'
        }
    ]
}
---
{{!< layout}}
<section class="chat-page">
    <div class="chats">
        <a href="#" class="link link-small chats__link">
            Профиль
            <img src="../assets/svg/arrow.svg" alt="arrow">
        </a>
        <input type="text" class="chats__search" placeholder="Поиск">
        <div class="chats__list">
            {{#each data }}
                {{> chat/chat name=name date=date message=message messages=messages}}
            {{/each}}
        </div>
    </div>
    <div class="messages">
        <div class="messages-info">
            <div class="messages-info__user">
                <div class="messages-info__user-image">
                    <img src="https://dummyimage.com/34x34/999999" alt="user">
                </div>
                <p class="messages-info__user-name">Илья</p>
            </div>
            <img src="../assets/svg/chat-menu.svg" alt="menu">
        </div>
        <div class="messages-field">
            <p class="messages-field__date">19 июня</p>
            {{#> message/message class='message-text'}}
                <p>
                    Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                    Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                </p>
            {{/message/message}}
            {{#> message/message}}
                <img src="../assets/message.jpg" alt="message">
            {{/message/message}}
            {{#> message/message class='message-text message_user message-text_user'}}
                <p>Круто!</p>
            {{/message/message}}
        </div>
        <div class="messages-send">
            {{> button-svg/button-svg svg="../assets/svg/file.svg" alt='add file'}}
            <textarea type="text" class="messages-send__input" placeholder="Сообщение" rows="2" wrap="soft" style="overflow:hidden"></textarea>
            {{> button-svg/button-svg svg="../assets/svg/arrow_button.svg" alt='send'}}   
        </div>
    </div>
</section>
