{{!< layout}}
<section class="error">
    <h6 class="error__number">404</h6>
    <p class="error__description">Не туда попали</p>
    {{> link/link title='Назад к чатам' class="link-small"}}
</section>
