{{!< layout}}
<section class="error">
    <h6 class="error__number">500</h6>
    <p class="error__description">Мы уже фиксим</p>
    {{> link/link title='Назад к чатам' class="link-small"}}
</section>
