<nav>
    <ul>
        <li>
            <a href="./register.hbs">Register page</a>
        </li>
        <li>
            <a href="./login.hbs">Login page</a>
        </li>
        <li>
            <a href="./profile.hbs">Profile page</a>
        </li>
        <li>
            <a href="./profile-change.hbs">Profile data page</a>
        </li>
        <li>
            <a href="./profile-password.hbs">Profile password page</a>
        </li>
        <li>
            <a href="./error-404.hbs">Error 404 page</a>
        </li>
        <li>
            <a href="./error-500.hbs">Error 500 page</a>
        </li>
        <li>
            <a href="./chats.hbs">Chats page</a>
        </li>
        <li>
            <a href="./modal.hbs">Modal page</a>
        </li>
    </ul>
</nav>
