{{!< layout}}
<section class="modal-wrapper">
    <div class="modal">
        <h6 class="modal__heading">Файл загружен</h6>
        <p>pic.jpg</p>
        {{> button/button title='Поменять' class='modal__button'}}
    </div>
</section>
