---
{
    data: [
        {
            label: 'Старый пароль',
            value: '1234567',
            name: 'oldPassword',
        },
        {
            label: 'Новый пароль',
            value: '12345',
            name: 'newPassword',
        },
        {
            label: 'Повторите новый пароль',
            value: '12345',
            name: 'newPassword',
        }
    ]
}
---

{{!< layout}}
<section class="profile-page">
    <a href="#" class="profile-page__button-back">
        <img src="../assets/svg/arrow_button.svg" alt="back">
    </a>
    <div class="profile">
        <form id="form" action="#" class="profile-form">
            <div class="profile-form__photo"></div>
            {{#each data }}
                {{> input/input label=label value=value name=name type='password' classLabel='profile-form__label' classInput='profile-form__value'}}
            {{/each}}
            
            {{> button/button title='Сохранить' class="profile-form__button-submit"}}
        </form>
    </div>
</section>
