{{!< layout}}
<section class="profile-page">
    <a href="#" class="profile-page__button-back">
        <img src="../assets/svg/arrow_button.svg" alt="back">
    </a>
    <div class="profile">
        <form action="#" class="profile-form">
            <div class="profile-form__photo"></div>
            {{> input/input label='Старый пароль' value='1234567' name='oldPassword' type='password' classLabel='profile-form__label' classInput='profile-form__value'}}
            {{> input/input label='Новый пароль' value='12345' name='newPassword' type='password' classLabel='profile-form__label' classInput='profile-form__value'}}
            {{> input/input label='Повторите новый пароль' value='12345' name='newPassword' type='password' classLabel='profile-form__label' classInput='profile-form__value'}}
            {{> button/button title='Сохранить' class="profile-form__button-submit"}}
        </form>
    </div>
</section>
