---
{
    data: [
        {
            label: 'Старый пароль',
            value: '1234567',
            name: 'oldPassword',
        },
        {
            label: 'Новый пароль',
            value: '12345',
            name: 'newPassword',
        },
        {
            label: 'Повторите новый пароль',
            value: '12345',
            name: 'newPassword',
        }
    ]
}
---

{{!< layout}}
<section class="profile-page">
    <a href="#" class="profile-page__button-back">
        <img src="../assets/svg/arrow_button.svg" alt="back">
    </a>
    <div class="profile">
        <form id="form" action="#" method="POST" class="profile-form">
            <div class="profile-form__photo"></div>
            <ul class="form-list">
                {{#each data }}
                    <li>
                        {{> input/input label=label value=value name=name type=type classLabel='profile-form__label' classInput='profile-form__value'}}
                    </li>
                {{/each}}
            </ul>
            
            {{> button/button title='Сохранить' class="profile-form__button-submit"}}
        </form>
    </div>
</section>
