---
{
    data: [
        {
            label: 'Почта',
            value: 'pochta@yandex.ru',
            name: 'email',
            type: 'email'
        },
        {
            label: 'Логин',
            value: 'ivanivanov',
            name: 'login',
            type: 'text'
        },
        {
            label: 'Имя',
            value: 'Иван',
            name: 'first_name',
            type: 'text'
        },
        {
            label: 'Фамилия',
            value: 'Иванов',
            name: 'second_name',
            type: 'text'
        },
        {
            label: 'Имя в чате',
            value: 'Иван',
            name: 'display_name',
            type: 'text'
        },
        {
            label: 'Телефон',
            value: '+7(909)967-30-30',
            name: 'phone',
            type: 'telephone'
        }
    ]
}
---

{{!< layout}}
<section class="profile-page">
    <a href="#" class="profile-page__button-back">
        <img src="../assets/svg/arrow_button.svg" alt="back">
    </a>
    <div class="profile">
        <form id="form" action="#" class="profile-form">
            <div class="profile-form__photo"></div>
            <input type="file" name="avatar" accept="image/png, image/jpeg" class="profile-form__photo__input">
            {{#each data }}
                {{> input/input label=label value=value name=name type=type classLabel='profile-form__label' classInput='profile-form__value'}}
            {{/each}}
            {{> button/button title='Сохранить' class="profile-form__button-submit"}}
        </form>
    </div>
</section>
