{{!< layout}}
<section class="login">
    <h6 class="login__title">Регистрация</h6>
    <form action="#" class="login-form">
        {{> input/input label='Почта' value='pochta@yandex.ru' name='email' type='text' classLabel='login-form__label' classInput='login-form__value'}}
        {{> input/input label='Логин' value='ivanivanov' name='login' type='text' classLabel='login-form__label' classInput='login-form__value'}}
        {{> input/input label='Имя' value='Иван' name='first_name' type='text' classLabel='login-form__label' classInput='login-form__value'}}
        {{> input/input label='Фамилия' value='Иванов' name='second_name' type='text' classLabel='login-form__label' classInput='login-form__value'}}
        {{> input/input label='Телефон' value='+7(909)967-30-30' name='phone' type='text' classLabel='login-form__label' classInput='login-form__value'}}
        {{> input/input label='Пароль' value='12345' name='password' type='password' classLabel='login-form__label' classInput='login-form__value'}}
        {{> input/input label='Пароль (ещё раз)' value='12345' name='password' type='password' classLabel='login-form__label' classInput='login-form__value'}}
        <div class="login-form__buttons login-form__buttons-register">  
            {{> button/button title='Зарегистрироваться' class="login-form__button-register"}}
            {{> link/link title='Войти' class="login-form__link"}}
        </div>
    </form>
</section>

