.chat-menu {
  position: relative;

  &__buttons {
    position: absolute;
    z-index: 100;
    display: none;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    padding: 10px;
    min-width: 240px;
    right: -16px;
    top: calc(100% + 8px);
    border-radius: 6px;

    &::before {
      position: absolute;
      top: -8px;
      right: 10px;
      width: 0;
      height: 0;
      border-right: 8px solid transparent;
      border-bottom: 8px solid var(--light-grey);
      border-left: 8px solid transparent;
      content: '';
    }
  }

  & ul {
    list-style: none;

    & li {
      padding-bottom: 10px;

      &:last-of-type {
        padding-bottom: unset;
      }
    }
  }
}

@media (max-width: 768px) {
  .chat-menu {
    &__buttons {
      min-width: 216px;
      right: -10px;

      &::before {
        right: 3px;
      }
    }
  }
}

@media (max-width: 425px) {
  .chat-menu {
    &__buttons {
      min-width: 204px;
    }

    & ul {
      & li {
        padding-bottom: 8px;       
      }
    }
  }
}
