.messages-field {
  position: relative;
  display: flex;
  width: 100%;

  &__input {
    width: 100%;
    padding: 9px 30px;
    border: unset;
    border-radius: 30px;
    margin: 0 10px;
    background: #efefef;
    resize: none;
    overflow: hidden;

    &::placeholder {
      line-height: 35px;
    }

    &:focus-visible {
      border-radius: 3px;
      outline: 2px solid var(--blue);
      outline-width: thin;
    }
  }
}

@media (max-width: 425px) {
  .messages-field {
    &__input {
      padding: 6px 20px;
      margin: 0 4px;
  
      &::placeholder {
        line-height: 30px;
      }
    }
  }
}
